---
- name: Prepare github config
  hosts: localhost
  tasks:
    - name: Register root dir
      set_fact:
        # yamllint disable-line rule:line-length
        root_dir: "{{ lookup('env', 'GITSTYRING_ROOT_DIR')|default('../orgs') }}"

- name: Prepare github config
  hosts: localhost
  tasks:
    - name: Gather orgs info
      scan_organizations:
        path: "{{ root_dir }}"
      register: out

    - name: Register orgs structure
      set_fact:
        structure: "{{ out }}"

- name: Manage orgs
  hosts: localhost
  gather_facts: false
  roles:
    - gitcontrol
  vars:
    orgs: "{{ structure.data }}"
    github_user: "{{ lookup('env', 'GITHUB_USER') }}"
    github_token: "{{ lookup('env', 'GITHUB_TOKEN') }}"
    github_api: https://api.github.com
